/* 모달 스타일 */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  /* 배경 뒷면 스타일 */
  .modal-backdrop {
    display: none; /* 초기에는 숨김 상태 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경색 */
    z-index: 999;
  }
  
  /* 모달이 열렸을 때 배경에 투명도 처리 */
  .modal.active {
    display: block;
  }
  
  /* 모달이 열렸을 때 배경을 나타내기 위한 클래스 */
  .modal.active + .modal-backdrop {
    display: block;
  }
  /* Yes 버튼 스타일 */
  .modal-button {
    background-color: #28a745; /* 버튼 배경색 */
    color: #fff; /* 버튼 텍스트 색상 */
    padding: 10px 15px;
    border: none;
    width: max-content;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Yes 버튼에 호버 효과 추가 */
  .modal-button:hover {
    background-color: #218838; /* 호버 시 배경색 변경 */
  }

  .commentEdit {
    margin-left: 10px;
    width: 62px;
    height: 2rem;
    flex-shrink: 0;
    border: none;
    background: #04364A;
    border-radius: 17px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s; /* 변화를 부드럽게 만들기 위한 트랜지션 설정 */
  }
  
  .commentEdit:hover {
    background-color: #e0e0e0; /* 커서를 올렸을 때의 색상 */
  }
  
  

  /* 댓글 입력 창 */

  .commentInput {
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid #ccc;
  }
  
  .commentInput textarea {
    flex: 1; /* textarea가 남은 공간을 모두 차지하도록 함 */
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  .commentInput button {
    background-color: #04364a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .commentInput button:hover {
    background-color: #021d28;
  }
  