.detailMain h1{
    color: #04364A;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
}


.detailDiv {
    margin-left: 190px;
    margin-top: 30px;
    border-radius: 32px;
    background: #04364A;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    width: 550px;  
    min-height: 868px;
    height: fit-content;

}

.detailMenu{
    display: inline-flex;
}

.detailMenu button{
    background:transparent;
    border: none;
    margin-top: 10px;
    margin-left: 3rem;
    margin-right: 1rem;
    margin-bottom: 30px;
    color: #000;
    text-align: center;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.DetailChat{
    width: 60%;
}

.desContainer{
   border-radius: 5px;
   padding: 20px 10px;
    background: #254855;
    font-weight: 400;
    font-size: 16px;
    word-break: keep-all;
    line-height: 28px;
}

.tag {
  margin-left: 8px;
 white-space: nowrap;
  font-size: 15px;
  font-weight: 100;
  
}

.likes{
  font-size: 14px;
   margin-left: 7px;
   margin-right: 7px;
   font-weight: 400;
   display: inline-flex;
   align-items: center;
   cursor: pointer;
}

.likes .fa-heart:hover {
  color: rgb(131, 34, 66); /* 호버 시 아이콘 색상 변경 */
}

.likes .fa-heart {
  transition: color 0.3s ease-in-out;
}

.date{
  text-align: end;
  font-size: 14px;
}

/* 챗지피티 사용 css */

.chat-container {
    display: flex;
    flex-direction: column;
}

.detailResult{
width: 800px;
height: 280px;
border-radius: 10px;
overflow: auto;
background-color:#bebec2;
margin-top: 20px;
margin-left: 15px;

}
  
.detailResult ul{
  height: 300px;
  margin-right: 10px;
}


.detailResult li{
  position: relative;
    list-style-type: none;
    width: max-content;
      max-width: 70%;
    min-height: 20px;
    height: fit-content;
    margin: 0 0 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #4997B0;
    color: #fff;
    
}

.detailResult li ::after{
    content: "";
      position: absolute;
      top: 10px;
      right: -10px;
      width: 0;
      height: 0;
      border-bottom: 16px solid transparent;
      border-left: 16px solid #3b82f6;
  }

.detailResult .quest{
  margin-right: auto;
    
}
.detailResult .response{
  margin-left: auto;
  background-color: #10a37f;
}

.myBtn {
  margin-left: 10px;
  width: 65px;
  height: 2.5rem;
  flex-shrink: 0;
  border: none;
  background: rgba(73, 151, 176, 0.68);
  border-radius: 17px;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s; /* 변화를 부드럽게 만들기 위한 트랜지션 설정 */
}

.myBtn:hover {
  background-color: #e0e0e0; /* 커서를 올렸을 때의 색상 */
}



