
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }


.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5rem;
}
.title,
.under input, .under textarea{
  font-size: 16px;
  line-height: 24px;
  color: #353740;
}
.title, .under{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.title h3 {
  font-size: 50px;
  line-height: 40px;
  font-weight: bold;
  color: #04364A;
  margin: 2px 0 40px;
}

.title h2 {
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  color: #04364A;
  margin: 16px 0 2px;
}

.under form {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

/* 수정된 CSS */
.under textarea[type="text"] {
  padding: 12px 16px;
  width: 100%;
  resize: none;
  border: 1px solid #4997B0;
  border-radius: 4px;
  margin-bottom: 16px;
  height: 80px;
  outline: none;
}

.under input[type="submit"] {
  height: 40px; 
  width: 120px; 
  border-radius: 8px; 
  color: #fff;
  margin-top: 10px; 
  background-color: #4997B0;
  border: none;
  text-align: center;
  cursor: pointer;
}


@media (max-width: 600px) {
  .under input[type="submit"] {
    width: 100%; 
  }
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


.gptMenu{
  width: 800px;
  display: flex;
  justify-content: flex-end;

}

.gptMenu select, .gptMenu button{
  outline: none;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 6rem;
}


/*답변이 나올곳*/
  .aiSelect button:hover {
    background-color: #2980b9;
  }


  .result {
    display: flex; 
    flex-direction: column; 
    width: 100%;
    font-size: 16px;
  }
  
  
  #msgList {
    padding: 10px; 
    max-height: 400px; 
  }
  
  .response {
    background-color: #10A37F;
    width: 40%;
    color: white; 
    padding: 10px; 
    margin-bottom: 5px;
    border-radius: 8px;
    margin-left: 53%;
    align-self: flex-end; 
  }
  
  .response p {
    margin: 0; 
  }
  

  #msgList::-webkit-scrollbar {
    width: 8px;
  }
  
  #msgList::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  #msgList::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }



.quest {
    width: 300px; 
    border-radius: 8px;
    align-self: flex-start; 
    margin-bottom: 5px;
  }
  

  
  