/** @format */

.Signup h2 {
    font-family: KoreanDREAM2R;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 80px;
}

.Signup h1 {
    margin-top: 0;
    color: #04364a;
    text-shadow: 1px 6px 6px rgba(19, 86, 187, 0.19);
    font-family: KoreanDREAM5R;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Signup p {
    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Signup input {
    background-color: rgba(4, 54, 74, 0.17);
    stroke-width: 2px;
    outline: none;
    border: 0;
    border-radius: 5px;
    height: 3rem;
    width: 18rem;
    stroke: #fff;
    margin-right:5px;
}

.Signup button {
    width: 6rem;
    height: 3rem;
    flex-shrink: 0;
    background-color: rgba(4, 54, 74, 0.96);
    stroke-width: 2px;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}
.Signup button:disabled {
    width: 6rem;
    height: 3rem;
    flex-shrink: 0;
    background-color: rgba(171, 171, 171, 0.96);
    stroke-width: 2px;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}
.sendBtn:disabled {
    width: 6rem;
    height: 3rem;
    flex-shrink: 0;
    background-color: rgba(4, 54, 74, 0.96);
    stroke-width: 2px;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}
.Signup .inputForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 408.9px;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .Signup h2 {
        margin-top: 8vh;
        font-size: 3.5vh;
    }

    .Signup h1 {
        margin-bottom: 5vh;
        font-size: 2vh;
    }

    .Signup .link {
        font-size: 3vh;
    }

    .Signup p {
        font-size: 2vh;
        
    }

    .Signup input {
        height: 4vh;
        width: 100%;
        
    }

    .Signup button {
        width: 4rem;
        height: 2rem;
        font-size: 1.5vh;
        
    }
    .Signup button:disabled {
        width: 4rem;
        height: 2rem;
        font-size: 1.5vh;
    }
    .Signup .inputForm {
        grid-template-columns: 1fr;
        width: 80%;
        margin-bottom: 20px;
    }

    .Signup .this {
        left: 0;
        right: 0;
        margin-left: -20%;
    }
    .cont {
        display: block !important;
        margin-left:-4px !important;
    }
}
