.myprompt {
  cursor: pointer;
  padding: 1rem;
  width: 90%;
  min-height: 14.3rem;
  flex-shrink: 0;
  border-radius: 1rem;
  border: 1px solid #04364A;
  background: #FFF;
  overflow: hidden; /* 추가: 내용이 넘칠 경우를 대비하여 오버플로우를 감춤 */
}

.myprompt:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 추가: 마우스 호버 시 그림자 효과 */
}

.myPrompts__data h2 {
  transition: all 0.2s linear;
}

.myprompt:hover .myPrompts__data h2 {
  transform: scale(1.1);
}
