.myprompt {
  cursor: pointer;
  padding: 1rem;
  width: 88%;
  min-height: 14.3rem;
  flex-shrink: 0;
  border-radius: 1rem;
  border: 1px solid #04364A;
  background: #FFF;
  overflow: hidden; 
}

.myprompt:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.myPrompts__data h2 {
  transition: all 0.2s linear;
}

.myprompt:hover .myPrompts__data h2 {
  transform: scale(1.1);
}
