* {
    font-family: Spoqa Han Sans Neo;
}

.prompts{
    display: grid;
    width: 78%;
    grid-template-columns: repeat(2,minmax(200px, 1fr));
    grid-gap: 1.3rem;
    padding: 50px;
    padding-top: 70px;
}

@media (max-width:1020px){
    .prompts {grid-template-columns: repeat(1,minmax(200px, 1fr));}
}

.container{
    display:flex;
    max-width: fit-content;
    position: relative;
    background: #FFFFFF;
    overflow: hidden;
}

.leftSide{
    padding-left: 10rem;
}



.info{
    margin: 4.19rem 0 1.6rem;
    width: 28.1875rem;
    height: 18rem;
    flex-shrink: 0;
    border-radius: 1.875rem;
    background: #04364A;
    border: 1.8rem;
}

@media (max-width: 800px){
    .info{
        width: 90%;
    }
    .editInfo{
        width: 90%;
    }

.rightSide{
    display: none;
}
}

.rightSide{
    padding-left: 2rem;
}



.innerInfo{
    display: inline-flex;
}

.info h2 {
    flex-shrink: 0;
    color: #ffffff;
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.info h4{
    margin-top: 0.8rem;
    flex-shrink: 0;
    color: #ffffff;
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.nameEmail{
    width: 13.5rem;
height: 4.875rem;
margin-top: 4.19rem;
margin-bottom: 4.25rem;
flex-shrink: 0;
}

.editBtn{
    margin-left: 9.345rem;
    width: 9.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    background: #FFFFFF;
    border-radius: 17px;
    font-style: #000;
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

}

.profilePic {
    width: 7.3125rem;
    height: 7.1875rem;
    flex-shrink: 0;
    margin: 3.06rem 1.94rem 2.87rem 3.12rem;
    border-radius: 10rem;
}

.editInfo{
    animation: fadein 0.5s;
    width: 28.1875rem;
    height: 27rem;
    border-radius: 1.875rem;
    border: 2px solid #04364A;
    background: #FFF;
}

@keyframes fadein {
    /* 효과를 동작시간 동안 0 ~ 1까지 */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

.editInfo p{
    margin-top: 0.1rem;
    margin-right: 1rem;
    margin-left: 20%;
    width: 5rem;
    height: 2.1875rem;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.formInput{
    font-family: Spoqa Han Sans Neo;
    width: 64%;
    height:2.1rem;
    flex-shrink: 0;
    border-radius: 7px;
    background-color: rgba(4, 54, 74, 0.17);
    outline: none;
    border: none;
}

.formBtn {
    background-color: rgba(4, 54, 74, 0.17);
    outline: none;
    border-color: #04364A;
    border-radius: 7px;
    justify-self: center;
    width: 150px;
    height: 30px;
    font-weight:bold;
    }

.content{
    width: 70%;
    margin-top: 1rem;
    display: inline-flex;
}

.editInfo img{
    margin-bottom: 0;
    border: 2px solid #04364A;
}

.menu{
    display: inline-flex;
}

.menu button{
    background:transparent;
    border: none;
    margin-top: 4.69rem;
    margin-left: 3rem;
    margin-right: 1rem;
    color: #000;
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}




