.navContainer{
    width: 8.625rem;
    height: 100%;
    
    flex-shrink: 0;
    background: #04364A;
    text-align: center;
    padding-top: 3rem;
    position:fixed;
}

.navContainer a{
    color: #FFF;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.5rem; 
    text-decoration-line: none;
    transition: transform 0.3s ease;
}

.navContainer a:hover  {
    transform-origin: 0%, 100%;
    transform: scale(1.1);
  }